<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Under Maintenance</h1>
        <p>THe sit eis being maintained</p>
        
    </body>
</html>